ion-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;

  img {
    width: 200px;
    max-width: 300px;
    height: 250px;
  }
}

.content {
  height: 100%;
}

.no-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    animation: spin 2s linear infinite;
  }
}

.bar {
  height: 4px;
  border-radius: 30px;
  padding: 1%;
  width: 100%;
}

@keyframes spin {
  0%, 100% {
      filter: blur(0px);
      transform: rotate(0deg);
  }
  33% {
      transform: rotate(720deg);
      filter: blur(2px);
  }
  66%, 100% {
      filter: blur(0px);
      transform: rotate(720deg);
  }
}
