/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    .input-circle {
        background-color: white;
        border-radius: 30px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        ion-icon {
            margin-inline: 10px;
        }
    }
}

.poke-header {
  padding: 5%;
  background-color: var(--ion-color-danger);
}

.water {
  background-color: #3498db; /* Azul para Water */
}

.fire {
  background-color: #e74c3c; /* Vermelho para Fire */
}

.grass {
  background-color: #2ecc71; /* Verde para Grass-type */
}


.electric {
  background-color: #f1c40f; /* Amarelo para Electric */
}

.ice {
  background-color: #3498db; /* Azul claro para Ice */
}

.psychic {
  background-color: #8e44ad; /* Roxo para Psychic */
}

.fighting {
  background-color: #d35400; /* Laranja para Fighting */
}

.poison {
  background-color: #9b59b6; /* Violeta para Poison */
}

.ground {
  background-color: #f39c12; /* Laranja claro para Ground */
}

.flying {
  background-color: #a0d7fb; /* Azul para Flying */
}

.bug {
  background-color: #27ae60; /* Verde-escuro para Bug */
}

.rock {
  background-color: #bdc3c7; /* Cinza para Rock */
}

.ghost {
  background-color: #34495e; /* Azul-escuro para Ghost */
}

.steel {
  background-color: #95a5a6; /* Cinza-claro para Steel */
}

.dragon {
  background-color: #9b59b6; /* Violeta para Dragon */
}

.dark {
  background-color: #34495e; /* Azul-escuro para Dark */
}

.fairy {
  background-color: #ee7eda; /* rosa para Fairy-type */
}

.normal {
  background-color: #d7ccc8; /* Bege para Normal-type */
}

.water-light {
  background-color: #99ccff; /* Azul claro para Water */
}

.fire-light {
  background-color: #ff9999; /* Vermelho claro para Fire */
}

.grass-light {

  background-color: #99ff99; /* Verde claro para Grass-type */
}

.electric-light {
  background-color: #ffff99; /* Amarelo claro para Electric */
}

.ice-light {
  background-color: #99ccff; /* Azul claro para Ice */
}

.psychic-light {
  background-color: #cc99cc; /* Roxo claro para Psychic */
}

.fighting-light {
  background-color: #ffaa80; /* Laranja claro para Fighting */
}

.poison-light {
  background-color: #cc99cc; /* Roxo claro para Poison */
}

.ground-light {
  background-color: #ffcc66; /* Laranja para Ground */
}

.flying-light {
  background-color: #99ccff; /* Azul claro para Flying */
}

.bug-light {
  background-color: #66cc66; /* Verde para Bug */
}

.rock-light {
  background-color: #bdc3c7; /* Cinza para Rock */
}

.ghost-light {
  background-color: #8080ff; /* Azul para Ghost */
}

.steel-light {
  background-color: #cccccc; /* Cinza para Steel */
}

.dragon-light {
  background-color: #cc99cc; /* Roxo claro para Dragon */
}

.dark-light {
  background-color: #8080ff; /* Azul para Dark */
}

.fairy-light {
  background-color: #f2f2f2; /* Cinza claro para Fairy-type */
}

.normal-light {
  background-color: #f2f2f2; /* Cinza claro para Normal-type */
}
