ion-header {
    // height: 15%;

    ion-img {
        width: 60px;
    }

    ion-row {
        align-items: center;
    }

    h1 {
        font-weight: bold;
    }
}

.pokemons {
    width: 100%;
    padding: 5%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr; /* Two equal-width columns */
    grid-gap: 10px; /* Gap between grid items */
}
