<ion-header class="poke-header">
  <ion-row class="ion-align-self-center ion-margin-bottom">
    <ion-img src="../../assets/pokemon-logo.svg" />
    <ion-text color="light" class="ion-margin-start">
      <h1>Pokédex</h1>
    </ion-text>
  </ion-row>
    <div class="input-circle">
      <ion-icon size="large" fill="clear" name="search" color="danger"></ion-icon>
      <ion-input placeholder="EX: Pikachu" />
    </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="pokemons" *ngIf="!loadingPokemons">
    <app-card-pokemon *ngFor="let pokemon of pokemons" [pokemonType]="pokemon.types[0].type.name" [pokemonName]="pokemon.name" [pokemonImg]="pokemon.sprites.other['official-artwork'].front_default"></app-card-pokemon>
  </div>
  <div class="pokemons" *ngIf="loadingPokemons">
    <ion-skeleton-text *ngFor="let item of [1,2,3,4,5,6]" [animated]="true" style="width: 100%; border-radius: 30px;"></ion-skeleton-text>
  </div>
</ion-content>
<ion-footer>
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-button color="danger" fill="outline" *ngIf="currentPage != 0" (click)="paginateTo('left')">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger" fill="outline" (click)="paginateTo('right')">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-row>
</ion-footer>
